/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Meddon&family=Montserrat&family=Nunito+Sans&display=swap');

/* VARIABLES */
:root {
    --principal: #1E1E1E;
    --secondary: #FAAB34;
    --tertiary: #04e4e4;
    --font-primary: "Nunito Sans", sans-serif;
    --font-secondary: "Meddon", cursive;
}

/* NORMALIZE */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Globals */

html {
    font-size: 62.5%;
    font-family: var(--font-primary);
    color: var(--principal);
}