/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Meddon&family=Montserrat&family=Nunito+Sans&display=swap');

/* VARIABLES */
:root {
    --principal: #1E1E1E;
    --secondary: #FAAB34;
    --tertiary: #04e4e4;
    --font-primary: "Nunito Sans", sans-serif;
    --font-secondary: "Meddon", cursive;
}

/* NORMALIZE */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Globals */

html {
    font-size: 62.5%;
    font-family: var(--font-primary);
    color: var(--principal);
}

body {
    padding: 12rem 0rem 0;
    min-height: 100vh;
    position: relative;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgb(0, 75, 75);
}
/* NAVBAR */

.header {
    background-color: rgb(248, 248, 248);
    height: 10rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav_link {
    color: var(--principal);
    text-decoration: none;
}

.logo {
    height: 8rem;
    width: 8rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.nav_menu {
    display:flex ;
    margin-right: 2rem;
    list-style: none;
}

.nav_menu_item {
    font-size: 1.8em;
    margin: 0 1em;
    width: max-content;
}

.nav_menu_link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav_menu_link:hover,
.nav_menu_link-activate {
    background-color: var(--secondary);
    transition: .5s ease-in-out;
}

.nav_toggle {
    color: var(--secondary);
    background: none;
    border: none;
    font-size: 3em;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

/* FOOTER */

.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin-top: 10px;
}

.footer_logo {
    grid-column: 2/3;
}

.footer_instagram {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer_instagram p{
    font-family: var(--font-primary);
    font-size: 1.6em;
    color: white;
}
.footer_facebook {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_facebook p{
    font-family: var(--font-primary);
    font-size: 1.6em;
    color: white;
}
.footer_mail {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_mail p{
    font-family: var(--font-primary);
    font-size: 1.6em;
    color: white;
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    
    body {
        padding-top: 70px;
    }

    /* HEADER */
    .header {
        height: 8rem;
    }

    .logo {
        height: 6rem;
        width: 6rem;
        margin-top: .5rem;
        margin-left: 2rem;
    }

    .nav_menu {
        flex-direction: column;
        margin-right: 2rem;
        background-color: rgb(248, 248, 248);
        position: fixed;
        left: 0;
        top: 8rem ;
        width: 100%;
        align-items: center;
        padding: 2rem 0;
        height: calc(100% - 8rem);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s ease-in-out;
    }
    .nav_menu_item {
        line-height: 7rem;
    }

    .nav_menu_link:hover,
    .nav_menu_link-active {
        background: none;
        color: var(--secondary);
    }

    .nav_toggle {
        display: block;
    }

    .nav_menu-visible{
        left: 0;
    }

    .nav_toggle:focus-visible:not(:focus-visible) {
        outline: none;
    }

    /* FOOTER */

    .footer_grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
    .footer_logo {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .footer_instagram {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .footer_facebook {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .footer_mail {
        grid-column: 1/2;
        grid-row: 4/5;
    }    
}